@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --soft-background: #f7f7f7;
  --foreground: #020617;
  --primary: #344664;
  --secondary: #344664;
  --accent: #fb9f3c;
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --soft-background: #151822;
    --foreground: #ededed;
    --primary: #344664;
    --secondary: #5f88cc;
    --accent: #ffbe79;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23022f2e' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }
}

html {
  max-width: 100svw !important;
}

body {
  color: var(--foreground);
  box-sizing: border-box;
}

/* https://heropatterns.com */
.bg-zig-zag {
  background-color: var(--background);
  background-image: var(--background-image);
}

.wide-text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div[data-overlay-container="true"] {
  background-color: var(--background);
}

div[data-slot="input-wrapper"],
button[data-slot="trigger"] {
  border: 1px solid gray;
  border-radius: 0.8rem;
}

.chat-height {
  height: calc(100%-80px);
}

div[data-slot="input-wrapper"],
div[data-slot="input-wrapper"]:hover,
div[data-slot="input-wrapper"]:focus,
div[data-slot="input-wrapper"]:active,
div[data-slot="content"],
div[data-focus="true"],
input[data-filled="true"],
input[data-slot="input"] {
  background-color: var(--soft-background) !important;
  color: var(--foreground) !important;
}

/* Don't push side of content out of chat screen on mobile when
tapping into message input field */
input[data-slot="base"]
input[data-filled="true"]
input[data-filled-within="true"]
/* input[data-has-value="true"], */
input[data-focus-within="true"]
input[data-focus="true"]
 {
  min-width: 0 !important;
  max-width: 100% !important;
}

span[data-slot="label"],
label[data-slot="label"] {
  color: var(--foreground);
}

li[role="option"][data-selectable="true"]:focus,
li[role="option"][data-selectable="true"]:hover,
li[role="option"][data-selected="true"]:active {
  background-color: var(--background);
}

/* Override the internal autofill selected color */
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: light-dark(
    rgb(232, 240, 254),
    rgba(70, 90, 126, 0.4)
  ) !important;
  color: var(--foreground) !important;
}

/* Ensure autofill text color is applied */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground) !important;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  -moz-text-fill-color: var(--foreground) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.before\:border-default:before {
  border-color: var(--foreground) !important;
  opacity: unset;
}

/** Loading Container styles*/
.loading-container-expanded {
  /* transition-height duration-300 ease-in-out; */
  transition: height 0.3s ease-out;
}
.loading-container-collapsed {
  transition: none;
}
