@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #020617;
  --primary: #344664;
  --secondary: #344664;
  --accent: #fb9f3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #ededed;
    --primary: #344664;
    --secondary: #5f88cc;
    --accent: #ffbe79;
  }
}

/* https://heropatterns.com */
.bg-zig-zag, div[data-overlay-container="true"] {
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239f9f9f' fill-opacity='0.42'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

div[data-slot="input-wrapper"],
button[data-slot="trigger"] {
  border: 1px solid gray;
  border-radius: 0.8rem;
}

.chat-height {
  height: calc(100%-80px);
}

div[data-slot="input-wrapper"],
div[data-slot="input-wrapper"]:hover,
div[data-slot="input-wrapper"]:focus,
div[data-slot="input-wrapper"]:active,
div[data-slot="content"],
div[data-focus="true"],
input[data-filled="true"],
input[data-slot="input"] {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

span[data-slot="label"],
label[data-slot="label"] {
  color: var(--foreground);
}

li[role="option"][data-selectable="true"]:focus,
li[role="option"][data-selectable="true"]:hover,
li[role="option"][data-selected="true"]:active {
  background-color: rgb(180, 180, 180);
}

/* Override the internal autofill selected color */
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: light-dark(
    rgb(232, 240, 254),
    rgba(70, 90, 126, 0.4)
  ) !important;
  color: var(--foreground) !important;
}

/* Ensure autofill text color is applied */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground) !important;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  -moz-text-fill-color: var(--foreground) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.before\:border-default:before {
  border-color: var(--foreground) !important;
  opacity: unset;
}
